@font-face {
  font-family: 'Futura ICG Demi';
  src: url('/fonts/Futura ICG.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura BK BT';
  src: url('/fonts/futura_bk_bt_book.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.active-link {
  border-bottom: 6px solid #E52828;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(-100%);
}
.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}